---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import SectionContacto from '../components/SectionContacto.astro';
---

<Layout title="Bienvenido">
	<main>
		<Header />
		
		<SectionContacto />

		
		
	</main>
</Layout>
