---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import SectionBienvenido from '../components/SectionBienvenido.astro'
---

<Layout title="Bienvenido">
	<main>
		<Header />
		
		<SectionBienvenido />

		
		
	</main>
</Layout>
