<section class="h-screen w-screen text-center relative overflow-hidden">
			
    <div class="relative h-full flex flex-col">
    <header class="justify-center items-center object-center flex flex-col">
            <div class="justify-center items-center object-center flex flex-col z-40">
            <h2 class="text-white pt-40 text-5xl font-medium">Acerca de nosotros</h2>
            <h3 class="text-white pt-8 text-4xl font-semibold align-text-bottom">Historia de ChronoWage: Transformando Horas en Éxito Financiero</h3>	
            <p class="bg-slate-600/30 text-white py-2 px-6 text-2xl w-4/6">En el año 2012, nació ChronoWage con una visión clara: simplificar y potenciar la gestión financiera de trabajadores de todas partes del mundo. Un grupo de mentes emprendedoras se unió con la misión de convertir el proceso de contabilizar horas laborales en una experiencia sencilla y beneficiosa.</p>
            </div>
        </header>
    </div>
    
    
    <div class="absolute top-0 bottom-0 z-10">
    <video 
    class="object-center object-cover h-screen w-screen"
    autoplay 
    muted 
    loop  
    src="/Bg.mp4"></video>	
    </div>
    
</section>	