<section class="bg-black h-screen w-screen text-center relative overflow-hidden">
			
    <div class="z-30 relative h-full flex flex-col">
    <header>
        <h2 class="text-white pt-40 text-5xl font-medium">Bienvenido</h2>	
        <p class="text-white pt-8 text-2xl">¿Estas preparado para comenzar a contabilizar <br> tus horarios de la mejor manera?</p>
    </header>
    
    <footer class="flex flex-grow justify-end flex-col flex-nowrap pb-28">
        <div>
            <a class="border-2 border-white bg-white/5 text-sm backdrop-blur-3xl rounded font-semibold inline-block text-white py-2 px-10
            hover:bg-white hover:text-black transition-colors duration-700" 
            href="/programa">
            Comenzar a contabilizar
            </a>	
        </div>
        
    </footer>	
    </div>
    
    
    <div class="absolute top-0 bottom-0">
    <video 
    class="object-center object-cover h-screen w-screen"
    autoplay 
    muted 
    loop  
    src="/Bg.mp4"></video>	
    </div>
    
</section>	